body, html {
    width: 100%; height: 100%;
    text-align: center;
    background-image: url("assets/bg-pattern.png");
    color: whitesmoke;
    font-family: Roboto;
    font-size: .85em;
    overflow: hidden;
    z-index: -2;
}
p {margin-bottom: .85em;}

body, html, nav, footer, #discord, #discord-button { /* Give flex and center */
    display: -webkit-box; display: -ms-flexbox; display: flex;
    -webkit-box-align: center; -ms-flex-align: center; align-items: center;
    -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;
}

nav {
    position: absolute;
    top: 0; right: 0;
    margin-right: 20px; margin-top: 40px;
    -webkit-box-orient: vertical; -webkit-box-direction: normal;
    -ms-flex-direction: column; flex-direction: column;
    width: 50px;
    height: 50px;
    fill: whitesmoke;
}

main {
    background-color: rgb(40, 40, 40);
    max-width: 700px; max-height: 700px;
    border: solid black; border-radius: 50px;
    overflow: auto;
}

@media screen and (max-width: 810px){
    main {
        width: 100%; height: 100%;
        max-width: none; max-height: none;
        border: none; border-radius: 0;
    }
    #banner {margin-top: 60px !important;}

    nav {
        -webkit-box-orient: initial; -webkit-box-direction: initial;
        -ms-flex-direction: initial; flex-direction: initial;
        margin: 0;
        width: 100%;
        background-color: black;
    }
    .nav-icons {height: 100%;}

    #discord {max-height: 300px;}
    #discord-img {
        height: 30% !important; width: 30% !important;
    }

    #announcements {height: 100%; max-height: none !important;}

    footer {display: none;}

}

#banner {
    width: 90%; height: 23%;
    margin-bottom: 1%; margin-top: 1%;
}

section {
    margin-top: 5%; margin-bottom: 1%;
    overflow: auto;
}

@font-face {
    font-family: Ginto;
    font-weight: 600;
    src: url("assets/ginto 600.woff") format("woff")
}
@font-face {
    font-family: Ginto;
    font-weight: 700;
    src: url("assets/ginto 700.woff") format("woff")
}
@font-face {
    font-family: Whitney;
    font-weight: 500;
    src: url("assets/whitney 500.woff") format("woff")
}

#other-grid {
    display: -ms-grid; display: grid;
    -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;
    -webkit-box-align: center; -ms-flex-align: center; align-items: center;
    -ms-grid-row-align: center; align-self: center;
    -ms-grid-columns: minmax(0, 1fr) 2px minmax(0, 1fr);
    grid-template-columns: repeat(2, minmax(0, 1fr));-ms-grid-rows: minmax(0, 1fr) 2px minmax(0, 1fr); grid-template-rows: repeat(2, minmax(0, 1fr));
    gap: 2px;
}

#other-grid > *:nth-child(1) {-ms-grid-row: 1; -ms-grid-column: 1;}
#other-grid > *:nth-child(2) {-ms-grid-row: 1; -ms-grid-column: 3;}
#other-grid > *:nth-child(3) {-ms-grid-row: 3; -ms-grid-column: 1;}
#other-grid > *:nth-child(4) {-ms-grid-row: 3; -ms-grid-column: 3;}

.other-items {
    border-radius: 4px;
    overflow: auto;
}
#announcements {
    -ms-grid-column: 1; -ms-grid-column-span: 2; grid-column: 1 / 3;
    overflow: visible;
}
#discord {
    -webkit-box-orient: vertical; -webkit-box-direction: normal;
    -ms-flex-direction: column; flex-direction: column;
    background-color: rgb(47, 49, 54);
    padding: 1em;
    color: white;
    gap: 1em;

}
#discord-introduction {
    font-family: Ginto; font-weight: 700; font-size: .75em;
    margin-bottom: 3px;
    color: rgb(185, 187, 190);
}
#discord-img {
    width: 20%; height: 80%;
    margin-left: 3px;
}
#discord-title {
    font-family: Whitney; font-weight: 400; font-size: 1em;
    margin-bottom: 3px;
}
#discord-button {
    font-family: Whitney; font-weight: 500; font-size: .875em;
    height: 40px;
    padding-left: 20px; padding-right: 20px;
    background-color: rgb(59, 165, 93);
    border-radius: 3px;
    text-decoration: none;
    color: white;
    -webkit-transition: background-color .17s ease; -o-transition: background-color .17s ease; transition: background-color .17s ease;
}
#discord-button:hover {
    background-color: rgb(45, 125, 70);
}

footer {
    position: absolute;
    bottom: 1.7em;
    height: 1.5em;
    font-size: 2em;
    gap: 1%;
    -ms-flex-wrap: wrap; flex-wrap: wrap;
    z-index: -1;
}

#copyleft, #CordFuck-BW {
    height: 1.5em;
    overflow: visible !important;
    -webkit-filter: invert(99%) sepia(78%) saturate(53%) hue-rotate(222deg) brightness(112%) contrast(92%);
    filter: invert(99%) sepia(78%) saturate(53%) hue-rotate(222deg) brightness(112%) contrast(92%);
}
#CordFuck-BW {height: 1.5em;}