body, html {
    width: 100%; height: 100%;
    text-align: center;
    background-image: url("assets/bg-pattern.png");
    color: whitesmoke;
    font-family: Roboto;
    font-size: .85em;
    -webkit-box-orient: vertical; -webkit-box-direction: normal;
    -ms-flex-direction: column; flex-direction: column;
    overflow: hidden;
    gap: 10px;
}
.nav-box, body, #copyright { /* Give flex and center */
    display: -webkit-box; display: -ms-flexbox; display: flex;
    -webkit-box-align: center; -ms-flex-align: center; align-items: center;
    -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;
}

#banner {width: 90%; height: 23%;}

.nav-box {
    width: 100%; height: 100%;
    text-decoration:none;
    color: whitesmoke;
    border: solid;
    border-color: black;
}

nav {
    width: 100%; height: 25%;
    display: -ms-grid; display: grid;
    -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;
    gap: 2px;
    -ms-grid-rows: 100px 2px 100px 2px 100px; grid-template-rows: 100px 100px 100px;
    -ms-grid-columns: 100px 2px 100px 2px 100px; grid-template-columns: 100px 100px 100px;
}
nav > *:nth-child(1) {-ms-grid-row: 1; -ms-grid-column: 1;}
nav > *:nth-child(2) {-ms-grid-row: 1; -ms-grid-column: 3;}
nav > *:nth-child(3) {-ms-grid-row: 1; -ms-grid-column: 5;}
nav > *:nth-child(4) {-ms-grid-row: 3; -ms-grid-column: 1;}
nav > *:nth-child(5) {-ms-grid-row: 3; -ms-grid-column: 3;}
nav > *:nth-child(6) {-ms-grid-row: 3; -ms-grid-column: 5;}
nav > *:nth-child(7) {-ms-grid-row: 5; -ms-grid-column: 1;}
nav > *:nth-child(8) {-ms-grid-row: 5; -ms-grid-column: 3;}
nav > *:nth-child(9) {-ms-grid-row: 5; -ms-grid-column: 5;}

@media screen and (min-width: 600px) and (min-height: 900px) {
    nav {
        -ms-grid-rows: 200px 200px 200px; grid-template-rows: 200px 200px 200px;
        -ms-grid-columns: 200px 200px 200px; grid-template-columns: 200px 200px 200px;
    }
    nav > *:nth-child(1) {-ms-grid-row: 1; -ms-grid-column: 1;}
    nav > *:nth-child(2) {-ms-grid-row: 1; -ms-grid-column: 2;}
    nav > *:nth-child(3) {-ms-grid-row: 1; -ms-grid-column: 3;}
    nav > *:nth-child(4) {-ms-grid-row: 2; -ms-grid-column: 1;}
    nav > *:nth-child(5) {-ms-grid-row: 2; -ms-grid-column: 2;}
    nav > *:nth-child(6) {-ms-grid-row: 2; -ms-grid-column: 3;}
    nav > *:nth-child(7) {-ms-grid-row: 3; -ms-grid-column: 1;}
    nav > *:nth-child(8) {-ms-grid-row: 3; -ms-grid-column: 2;}
    nav > *:nth-child(9) {-ms-grid-row: 3; -ms-grid-column: 3;}
}

.nav-box:hover {background-blend-mode: darken;}

#discography {-ms-grid-row: 1; -ms-grid-row-span: 2; grid-row: 1 / 3;}
#premier {-ms-grid-column: 2; -ms-grid-column-span: 2; grid-column: 2 / 4;}

footer {
    position: absolute;
    bottom: 1.7em;
    height: 1.5em;
    font-size: 2em;
    gap: 1%;
    flex-wrap: wrap;
}
svg, #CordFuck-BW {
    height: 1.5em;
    overflow: visible !important;
    -webkit-filter: invert(99%) sepia(78%) saturate(53%) hue-rotate(222deg) brightness(112%) contrast(92%);
    filter: invert(99%) sepia(78%) saturate(53%) hue-rotate(222deg) brightness(112%) contrast(92%);
}
#CordFuck-BW {height: 1.5em;}

.Cord-Chan {display: none; position: absolute; height: 70%; overflow: hidden;}
#Cord-Chan-1 {left: 70%;}
#Cord-Chan-2 {right: 70%;}
@media screen and (min-width: 1080px) {
    .Cord-Chan {
        display: initial;
    }
}
 
#repo{color: whitesmoke; position: absolute; bottom: 0%;}
#repo:visited{color: whitesmoke;}