@font-face {
    font-family: Grind;
    src: url("assets/goregrinder.otf") format("opentype");
}

html {
    width: 300%;
    height: 300%;
}
body {
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url("assets/bg-pattern.png");
    color: whitesmoke;
    font-family: Roboto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: stretch;
    align-content: stretch;
}

.section {
    background-size: cover;
    background-repeat: no-repeat;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

#center {
    background-image: url("assets/center-bg.png");
    background-position: center;
}
#left {
    background-image: url("assets/left-bg.png");
    background-position: left;
}
#right {
    background-image: url("assets/right-bg.png");
    background-position: right;
}
#bottom {
    background-image: url("assets/bottom-bg.png");
    background-position: bottom;
}
#top {
    background-image: url("assets/top-bg.png");
    background-position: top;
}

.content-box {
    border: 10px solid;
    border-color: black;
    border-radius: 50px;
    background-color: rgb(35, 35, 35);
    padding: 35px;
    max-width: 800px;
    min-width: 300px;
}
#cordfuck {
    font-family: Grind;
    font-size: 50px;
}

/* Styling links */
a{color: #0f7afc; border-bottom-color: rgba(15, 122, 252, 0.2); text-decoration:none}
a:hover{color:#cf0000; border-bottom-color: rgba(208, 64, 0, 0.2); text-decoration:none}
a:visited{ color: #800080; border-bottom-color: rgba(128, 0, 128, 0.2); text-decoration:none}